
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Today net sale amount
                    <span style="float:right;">ယေန႕အေရာင္းစာရင္း</span>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            List of Sale History
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                      
                                    <table style="width:100%">
                                      <tr>
                                        <td><h3>Today net sale amount</h3></td>
                                        <td><h3><input id="today" /></h3></td> 
                                      </tr>
                                    </table>

                                        <table class="table table-bordered">
                                           
                                            <% @invoice_numbers.each do |invoice_number, items| %>  

                                               
                                                  <td colspan="8">
                                                           <hr/>
                                                  <div class="well">
                                                    Invoice Number - <%= invoice_number %>


                                                       </div>
                                                  </td>

                                                <tr>   
                                                   
                                                    <th>ဝယ္သူအမည္</th>
                                                    <th>ဖုန္း</th>
                                                    <th>ေငြေပးေခ်မႉပုံစံ</th>
                                                    <th>အေရာင္းကုန္ပစၥည္း</th>
                                                    <th>အေရအတြက္</th>
                                                    <th>ေစ်းႏႈန္း</th>
                                                    <th>InvoiceAt</th>
                                                    
                                                </tr>

                                                <% items.each do |item| %>
                                             
                                                  <tr>
                                                
                                                    <td><%= item.customer_name %></td>
                                                    <td><%= item.phone_number %></td>
                                                    <td><%= item.payment_type %></td>
                                                    <td><%= item.purchase_item %></td>
                                                    <td><%= item.count %></td>
                                                    <td><%= item.item_price %>
                                                    <input id="mycash<%= item.item_price %>" value="<%= item.item_price %>" style="display:none;">
                                                    </td>
                                                    <td><%= item.created_at.strftime('%d%b%Y') %></td>
                                                 
                                                   
                                                  </tr>
                                                <% end %>  

                                            <% end %>
                                      </table>

                                      <br>

                                     

                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->







<script type="text/javascript">

 
$(document).ready(function(){
    
      var total = 0;
       <% @invoice_numbers.each do |invoice_number, items| %>
        <% items.each do |item| %>
            
        var item_price = document.getElementById("mycash<%= item.item_price %>").value;

        total = parseInt(item_price) + parseInt(total);
        document.getElementById("today").value = total;

        <% end %>

      <% end %>
     

});

</script>

<style type="text/css">
    
    #today{
        text-align: center;
        color: green;
        border-style: dotted solid;
    }

</style>