<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction date:</strong>
  <%= @money_uage.transaction_date %>
</p>

<p>
  <strong>Income:</strong>
  <%= @money_uage.income %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @money_uage.outcome %>
</p>

<p>
  <strong>Money in shop:</strong>
  <%= @money_uage.money_in_shop %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @money_uage.remark %>
</p>

<%= link_to 'Edit', edit_money_uage_path(@money_uage) %> |
<%= link_to 'Back', money_uages_path %>
